<html>
  <head>
    <title>Create entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="./homeStyles.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>
  <body style="background-color : black">
    <center><div class="container"><br><br>
      <h1 style="color : #26f107">D&nbsp;A&nbsp;T&nbsp;A&nbsp; 
        G&nbsp;U&nbsp;A&nbsp;R&nbsp;D&nbsp;I&nbsp;A&nbsp;N</h1><br><br>
      <i class="fa fa-user-secret" aria-hidden="true" style="color : #26f107; font-size: 120px;"></i>
      </div><br><br><br><br>
      <form action="" method="post">
        <input style="border-color: #26f107; width: 300px; height: 50px; background-color: #08282c; color : #26f107; border-radius: 12px;" type="text" placeholder="First name" name="first_name" value="{{
          request.form.first_name }}" style="background-color: #08282c"><br><br>
          <input style="border-color: #26f107; width: 300px; height: 50px; background-color: #08282c; color : #26f107; border-radius: 12px;" type="text" placeholder="Last name" name="last_name" value="{{
            request.form.last_name }}" style="background-color: #08282c"><br><br>
            <input style="border-color: #26f107; width: 300px; height: 50px; background-color: #08282c; color : #26f107; border-radius: 12px;" type="text" placeholder="Crime" name="crime" value="{{
                request.form.crime }}" style="background-color: #08282c"><br><br>
                <input style="border-color: #26f107; width: 300px; height: 50px; background-color: #08282c; color : #26f107; border-radius: 12px;" type="text" placeholder="Dangerous" name="represents_immediate_danger" value="{{
                  request.form.represents_immediate_danger }}" style="background-color: #08282c"><br><br>
        <input style="background-color: #26f107; color : #08282c; border-radius: 12px; width: 150px; height: 50px; font-weight: bold;" class="btn btn-default" type="submit" value="Create" method="post">
        <br><br>
        <input style="background-color: #26f107; color : #08282c; border-radius: 12px; width: 150px; height: 50px; font-weight: bold;" class="btn btn-default" type="reset" value="Clear all">
        <br><br>
      </form>
      {% if msg %}
      <font size = "5"<p class="error"><strong style="color : #26f107">Succes: {{ msg }}</font>
      {% endif %}
      </center>
      </body>
</html>